@media (max-width: 490px) {
    .container {
        margin: 0 2rem;
    }



    header ul {
        gap: 2rem;
        padding: 2.6rem 0;
    }
}

@media (max-width: 1080px){
    body {
        grid-template: 
                    'header header header header header' auto
                    'banner banner banner banner banner' auto
                    'main main main main main' auto
                    'aside aside aside aside aside' auto
                    'footer footer footer footer footer' auto
                    ;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    }

    main {
    
        grid-area: main;
        grid-column: 2 / 5;
        position: relative;
    
    }


    main .news .description h3 {
        font-size: clamp(1rem, 2vw, 1.4rem);

    }
    
    main .news .description p {
        font-size: clamp(.6rem, 1.5vw, 1.6rem);

    }
    aside {
        grid-column: 2 / 5;
    
    }
    
    
    aside .banners {
        display: flex;
        gap: 2rem

    }

    aside h2::after {
        max-width: 40%
        
    }

    aside .banner h3 {
        font-size: clamp(.6rem, .9vw, 1.4rem);
        left: .5rem;
    }

}

@media (max-width: 712px) {
    
    aside {
        justify-content: center;
        grid-column: 2 / 6;
    }

    aside .banner {
        width: 80%;
        margin-bottom: .5rem;
    
    }
    
    aside .banner h3 {
        font-size: clamp(.75rem, 2vw, 1rem);
        left: 1rem
    }

    aside .banners {
        display: flex;
        flex-direction: column;
       
    }

}

@media (max-width: 878px){
    section .container-banner {
        flex-wrap: wrap;
       
    
    }
    section .container-banner .mini-banner {
        display: flex !important;
        
        
    }

}
