@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend+Deca:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #FEFBFB;
}

:root {
    font-size: 62.5%;

}

img {
    display: block;
    max-width: 100%;
    height: fit-content;
}

body {
    background-color: #13131F;
    font-size: 1.6rem;
    display: grid;
    min-height: 100vh;
    grid-template: 
                'header header header header header' auto
                'banner banner banner banner banner' auto
                'main main main main aside' auto
                'section section section section section' auto
                'footer footer footer footer footer' auto
                ;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

header {
    grid-area: header;
    grid-column: 2 / 5;

}

header ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 2.6rem 0;

}


header ul li:first-child {
    flex: 1;

}

header ul li:first-child a{
    font-family: 'Lexend Deca', sans-serif;
    color: #8257e6;
    font-size: 2.4rem;

}

header ul li:last-child a {
    font-size: 1.4rem;
    padding: .5rem 2rem;
    border: .1rem solid #8257E6;
    border-radius: 3rem;
}

header ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: medium;
}

section{
    grid-area: banner;
    grid-column: 2 / 5;
    display: grid;
    align-items: center;
    padding-bottom: 5rem;
}

aside {
    
    grid-area: aside;
    grid-column: 4 / 5;

}

main {
    
    grid-area: main;
    grid-column: 2 / 4;
    position: relative;

}

section .callout {
    padding: 10rem 0;
}

section .callout h2 {
    font-family: 'Lexend Deca';
    /* font-size: clamp(3rem, 8vw, 4.8rem); */
    font-size: 4.8rem;
    font-weight: normal;
    margin-bottom: 1rem;

}

section .callout p {
    font-family: 'Inter';
    /* font-size: clamp(1rem, 3vw, 2rem); */
    font-size: 2rem;
    color: #C4C4C4;

}


section .container-banner {
    display: flex;
    gap: 2rem;
   

}


section .container-banner .banner {
    position: relative;   
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    transition: .3s;

}

section .container-banner .banner:hover {
    transform: scale(1.05);
    z-index: 5;

}

section .container-banner .banner img {
    max-width: 100%;
    height: fit-content;

}

section .container-banner .banner h3 {
    position: absolute;
    bottom: 1.5rem;
    left: 3rem;
    /* font-size: clamp(.5rem, 1.5vw, 2.4rem); */
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 150%;

}

section .container-banner .banner a {
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: .4rem 1.8rem;
    background-color: #8257E6;
    color: #FEFBFB;
    border-radius: .3rem;
    /* font-size: clamp(.8rem, 1vw, 1.4rem); */
    font-size: 1.4rem;

}


section .container-banner .mini-banner {
    display: grid;
    gap: 2rem;
    
}

section .container-banner .mini-banner img {
    max-width: 100%;
    object-fit: cover;
}

section .container-banner .mini-banner h3 {
    /* font-size: clamp(.6rem, .85vw, 1.4rem); */
    font-size: 1.4rem;
    line-height: 160%;
    left: 1.5rem;
    bottom: 1rem;

}

section .container-banner .mini-banner a {
    /* font-size: clamp(.6rem, .9vw, 1.2rem); */
    font-size: 1.2rem;
    top: 1rem;
    left: 1rem;

}

main {
    display: flex;
    flex-direction: column;
    max-height: 92rem;
    overflow-y: scroll;  
   
}

/* width */
::-webkit-scrollbar {
    width: .8rem;

}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #282830;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #8257E6

}

main .news {
    display: flex;
    gap: 2rem;
    margin-bottom: 3.5rem;
   
}

/* Cover Image */

main .news .cover {
    position: relative;
    
}

main .news .cover img {
    max-width: 100%;
    height: fit-content;
    cursor: pointer;

}

main .news .cover a {
    position: absolute;
    top: 1rem;
    left: 1rem;
    
    font-family: 'Lexend Deca', sans-serif;
    padding: .1rem 1.4rem;
    background-color: #8257E6;
    color: #FEFBFB;
    border-radius: .3rem;
    /* font-size: clamp(.5rem, .8vw, 1rem); */
    font-size: 1rem;

}

/* Description */

main .news .description {
    font-family: 'Inter';

}

main .news .description h3 {
    
    /* font-size: clamp(.6rem, .9vw, 1.4rem); */
    font-size: 1.4rem;
    line-height: 140%;
    left: 1.5rem;
    bottom: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;

    margin-bottom: 1rem;
    cursor: pointer;
}

main .news .description p {
    /* font-size: clamp(.6rem, .9vw, 1.2rem); */
    font-size: 1.2rem;
    color: #C4C4C4;
    
    margin-bottom: .5rem;
}

main .news .description span {
    /* font-size: clamp(.5rem, .8vw, 1rem); */
    font-size: 1rem;
    font-weight: 700;
    display: block;
    line-height: 2rem;
    color: #C4C4C4;

    font-weight: 600;
    margin-bottom: 1.2rem;
}

main .news .description a {
    

    padding: .4rem 1.8rem;
    background-color: #8257E6;
    color: #FEFBFB;
    border-radius: .3rem;
    /* font-size: clamp(.6rem, .9vw, 1.2rem); */
    font-size: 1.2rem;
    font-weight: 600;

}

aside {
    display: grid;
    justify-content: center;
}

aside h2 {
    font-family: 'Lexend Deca';
    font-weight: normal;
    /* font-size: clamp(1rem, 1.7vw, 2.4rem); */
    font-size: 2.4rem;
    line-height: 140%;
    margin-bottom: 1.4rem;
    
}

aside h2::after {
    content: '';
    height: .3rem;
    width: 25rem;
    display: block;
    background-color: #8257E6;
    position: relative;
    bottom: -1rem;
    margin-bottom: 1.4rem;
    
}

aside .banner {
    position: relative;   
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 5.7rem;
    width: 100%;
    transition: .2s;
    cursor: pointer;

}

aside .banner:hover {
    transform: scale(1.05);
}

aside .banner img {
    height: fit-content;
    max-width: 100%;
}

aside .banner a {
    position: absolute;
    /* font-size: clamp(.6rem, .9vw, 1.2rem); */
    font-size: 1.2rem;
    top: 1rem;
    left: 1rem;
    padding: .4rem 1.8rem;
    background-color: #8257E6;
    color: #FEFBFB;
    border-radius: .3rem;
    
}

aside .banner h3 {
    position: absolute;
    /* font-size: clamp(.9rem, 1.1vw, 1.3rem); */
    font-size: 1.3rem;
    line-height: 160%;
    left: 1.5rem;
    bottom: 1rem;

}


section.lastest-news {
    grid-area: section;
    grid-column: 2 / 5;
   

}

section.lastest-news .banners {
    display: flex;
    flex-wrap: wrap;
    gap: 5.5rem;

}



section.lastest-news h2 {
    font-family: 'Lexend Deca';
    font-weight: normal;
    /* font-size: clamp(1rem, 1.7vw, 2.4rem); */
    font-size: 2.4rem;
    line-height: 140%;
    margin-bottom: 1.4rem;
    
}

section.lastest-news h2::after {
    content: '';
    height: .3rem;
    width: 25rem;
    display: block;
    background-color: #8257E6;
    position: relative;
    bottom: -1rem;
    margin-bottom: 3rem;
    
}

section.lastest-news .banner {
    position: relative;   
    font-family: 'Lexend Deca', sans-serif;
    transition: .2s;
    cursor: pointer;

}

section.lastest-news .banner:hover {
    transform: scale(1.05);
}

section.lastest-news .banner img {
    height: fit-content;
    max-width: 100%;
}

section.lastest-news .banner a {
    position: absolute;
    /* font-size: clamp(.6rem, .9vw, 1.2rem); */
    font-size: 1.2rem;
    top: 1rem;
    left: 1rem;
    padding: .4rem 1.8rem;
    background-color: #8257E6;
    color: #FEFBFB;
    border-radius: .3rem;
    
}

section.lastest-news .banner h3 {
    position: absolute;
    font-size: 1.3rem;
    line-height: 160%;
    left: 1.5rem;
    bottom: 1rem;

}










footer {
    
    grid-area: footer;
    grid-column: 2 / 5;
    text-align: center;
    padding: 4rem 0;

}

footer a {
    font-family: 'Lexend Deca', sans-serif;
    color: #8257e6;
    /* font-size: clamp(1rem, 1.7vw, 2.4rem); */
    font-size: 2.4rem;
}

footer p {
    font-family: 'Inter';
    font-weight: 500;
    /* font-size: clamp(.6rem, .9vw, 1.4rem); */
    font-size: 1.4rem;
    line-height: 2.2rem;

    color: #C4C4C4;
}

/* not 100% done yet */